[*.cs]

# CA1707: Идентификаторы не должны содержать символы подчеркивания
dotnet_diagnostic.CA1707.severity = none

# CA1721: Имена свойств не должны совпадать с именами методов get
dotnet_diagnostic.CA1721.severity = none

# CA2227: Свойства коллекций должны быть доступны только для чтения
dotnet_diagnostic.CA2227.severity = none

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# CA2008: Не создавайте задачи без передачи TaskScheduler
dotnet_diagnostic.CA2008.severity = none

# CS4014: Так как этот вызов не ожидается, выполнение существующего метода продолжается до тех пор, пока вызов не будет завершен
dotnet_diagnostic.CS4014.severity = none
